<mat-expansion-panel hideToggle #pdf>
    <mat-expansion-panel-header>
        <mat-panel-title>
            This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
            This is a summary of the content
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="img-center">
        <button (click)="downloadPdf()">DOWNLOAD</button>
        <img [ngSrc]="imageSrc" alt="defer-img" width="890" height="225" priority>
        <hr>
        @for (item of items; track item.name) {
            @if (item.type === 'odd') {
                <p class="odd">{{ item.name }}</p>
            } @else {
                <p class="even">{{ item.name }}</p>
            }
        } @empty {
            <i>There are no items.</i>
        }
    </div>
</mat-expansion-panel>
